article > h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1em;
}

.article-subtitle {
  display: flex;
  color: var(--black-soft);
}
.article-subtitle > p {
  margin-right: 8px;
}

.article-body {
  padding-top: 16px;
  padding-bottom: 16px;
}

main a {
  text-decoration: none;
  color: steelblue;
}
