aside > * {
  width: 100%;
  margin: 4px;
  padding: 0.375rem 0.75rem;
}

aside > input {
  color: black;
}
aside > h3 {
  text-align: center;
  color: var(--black-solid);
}

aside > button {
  background: var(--primary-color);
}
