@import "./variables.css";
@import "./article.css";
@import "./author-card.css";
@import "./author-page.css";
@import "./blog-cards.css";
@import "./newsletter-card.css";
@import "./share-buttons.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--text-font);
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows:
    50px 3fr auto
    50px;
  grid-template-areas:
    "hd"
    "main"
    "sd"
    "ft";
}

header {
  background-color: var(--primary-color);
  color: var(--black-solid);
  font-size: 24px;
  grid-area: hd;
  padding: 8px;
}

nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  box-sizing: border-box;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside,
main {
  margin: 16px;
}

footer {
  margin-top: auto;
  border-top: 0.75px solid #aaa;
  grid-area: ft;
  text-align: center;
  padding: 4px;
}

section {
  border: 1px solid skyblue;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 8px;
}

p,
a {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 1.125rem;
}

main a {
  text-decoration: none;
  color: steelblue;
}

.hide {
  display: none;
}
