* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #00e676;
  --primary-color-light: #66ffa6;
  --primary-color-night: #00b248;
  --text-color-soft: #616161;
  --text-color-solid: #000000de;
  --text-font: Roboto Mono;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows:
    50px 3fr auto
    50px;
  grid-template-areas:
    "hd"
    "main"
    "sd"
    "ft";
  border: 2px solid;
}

header {
  background-color: var(--primary-color);
  color: var(--text-color-solid);
  font-size: 24px;
  border: 1px solid red;
  grid-area: hd;
  font-family: var(--text-font);
}

nav > ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}

main {
  border: 1px solid springgreen;
  grid-area: main;
}

aside {
  border: 1px solid royalblue;
  grid-area: sd;
}

footer {
  border: 1px solid seagreen;
  grid-area: ft;
}

section {
  border: 1px solid skyblue;
}

@media (min-width: 900px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 600px;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "main main sd sd sd sd sd sd"
      "ft ft ft ft ft ft ft ft";
    border: 2px solid red;
  }
}
