* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--text-font);
}

:root {
  --primary-color: #00e676;
  --primary-color-light: #66ffa6;
  --primary-color-night: #00b248;
  --black-soft: #616161;
  --black-solid: #000000de;
  --text-font: "Roboto", sans-serif;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows:
    50px 3fr auto
    50px;
  grid-template-areas:
    "hd"
    "main"
    "sd"
    "ft";
}

header {
  background-color: var(--primary-color);
  color: var(--black-solid);
  font-size: 24px;
  grid-area: hd;
  padding: 8px;
}

nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  box-sizing: border-box;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.blogpost-card {
  margin-top: 8px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 300px;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  color: var(--black-soft);
}

a:hover {
  text-decoration: underline;
  color: var(--black-soft);
}
.blogpost-card > a > h2 {
  font-weight: 500;
}

.blogpost-card > p {
  color: var(--black-soft);
  font-weight: lighter; 
}

aside {
  background: #f6f6f6;
  padding: 1.25rem;
  grid-area: sd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  border-radius: 10px;
  margin: 16px;
}

aside > * {
  width: 100%;
  margin: 4px;
  padding: 0.375rem 0.75rem;
}

aside > input {
  color: black;
}
aside > h2 {
  text-align: center;
  color: var(--black-solid);
}

aside > button {
  background: var(--primary-color);
}

footer {
  /*
  border: 1px solid red;
  */
  margin-top: auto;
  border-top: 0.75px solid #aaa;
  grid-area: ft;
  text-align: center;
  padding: 4px;
}

section {
  border: 1px solid skyblue;
}

@media (min-width: 900px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 600px;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "main main sd sd sd sd sd sd"
      "ft ft ft ft ft ft ft ft";
  }
}
